/* ================================================= */
/* UNIVERSAL */
/* ================================================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

a{
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

.col-2{
    width: calc(100%/2 - 40px);
    flex-basis: 500px;
    flex-grow: 1;
}

.col-3{
    width: calc(100%/3 - 40px);
    flex-basis: 350px;
    flex-grow: 1;
}

.gap{
    gap: 40px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* =================================================
@@@@@ HOME PAGE-1 @@@@@
================================================= */

/* =================================================
NAVIGATION
================================================= */

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.main-nav .logo{
    font-size: 1.3rem;
    font-weight: bold;
    color: #1D3444;
}

.main-nav .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.main-nav .nav-items li{
    padding: 0 1rem;
    list-style: none;
    font-weight: bold;
    align-items: center;
}

.nav-items a{
    color: #1D3444;
}

.nav-items .cta-btn{
    border-radius: 40px;
    background-color: #fff3e1;
    color: #F58A07;
    padding: 15px 20px;
}

/* ================================================= */
/* HERO-SECTION */
/* ================================================= */

.hero-section{
    padding-top: 40px;
    background-color: #DCEAF5;
}

.hero-section-content{
    display: flex;
    justify-content: space-between;
}

.hero-left{
    padding-right: 40px;
}

.hero-section-content h1{
    color: #1D3444;
    font-size: 2.9rem;
    font-weight: bold;
}

.hero-section-content p{
    color: #5B5B5B;
}

.hero-section-item{
    flex-grow: 1;
}

.header-title{
    width: 50%;
}


.header-image{
    display: flex;
    flex-wrap: wrap;
}

.img-fluid{
    max-width: 100%;
    align-self: flex-end;
    bottom: 0;
    vertical-align: bottom;

}

.banner-button{
    display: flex;
    justify-content: left;

}

.banner-btn{
    color: #1D3444;
    border-radius: 40px;
    padding: 15px 20px;
    text-align: center;  
    font-weight: bold;
}

.sjv-btn:hover{
    background-color: #F58A07;
    color: white;
}

.partners{
    padding-top: 30px;
}

.partners p{
    color: rgba(91, 91, 91, .7);
}

.partner-logos{
    display: flex;
    justify-content: space-between;
    /* padding: 3px; */
}

/* ================================================= */
/* MAIN-SECTION */
/* ================================================= */

.main-section{
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.poster-items{
    display: flex;
    justify-content: space-between;
}

.main-title{
    width: calc(100%/2);
}
.main-title h2{
    font-size: 2.5rem;
    color: #1D3444;
}

.main-title p{
    color: #5B5B5B;
}


.posters-items p{
    color: #5B5B5B;
}

.main-section a{
    color: #F58A07;
}
  
.main-section a:after{
    content: '\2192';
    padding-left: 10px;
    zoom: 1;
}

.sectors{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.sectors img{
    border-radius: 20px;
}


/* ================================================= */
/* POST-1 asuuh */
/* ================================================= */

.section-solution{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eef7ff;
}

.post-1-items{    
   display: flex;
   justify-content: space-between;
}

.post-1-title{
    display: flex;
    gap: 40px;
    padding-bottom: 30px;
}

.post-1-title p{
    padding-top: 10px;
}

.post-1-title h2{
    color: #1D3444;
    font-size: 2rem;
}

.post-1-title p{  
    color:#5B5B5B;
    font-size: 1.2rem;
}

.solution-card{
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    height: 260px;
}

.solution-card p{
    color: #5B5B5B;
}


/* ================================================= */
/* POST-2 */
/* ================================================= */

.post-2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.post2{
    display: flex;
    justify-content: space-between;
}

.experience{
    padding-right: 40px;
}

.post2-title h2{
    font-size: 2.3rem;
}

.post2-title p{
    font-size: 1.2rem;
    color: #5B5B5B;
}

.post2-aguulga{
    display: flex;
    gap: 40px;
}

.post2-aguulga span{
    color: #F58A07;
    font-size: 2.2rem;
}

.experienceZurag::after{
    position: absolute;
    content: '';
    inset: 0 75% 0 0;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

.experienceZurag{
    position: relative;  
    overflow: hidden; 
}
.experienceZurag img{
    vertical-align: bottom;
    border-radius: 20px;  
}

.post2-aguulga p{
    font-size: 1.1rem;
    color: #5B5B5B;
}

.post2-aguulga h3{
    font-size: 1.4rem;
}

/* ================================================= */
/* POST-3 */
/* ================================================= */

.post-3{
    display: flex;
    justify-content: space-between;
}

.post3{
    padding-top: 40px;
}

.research-items{
    padding-right: 40px;
}

.post3-btn a{
    color: lightblue;
    border: 1px solid lightblue;
    border-radius: 40px;
    padding: 10px 15px;
    text-align: center;  
    margin-right: 20px;
}

.post3-btn a:hover{
    border: none;
    background-color: white;
    color: #F58A07;
}

.ribbon{
    position: absolute;
    display: block;
    top: -15px;
    right: -15px;
}

.post-3 .container{
    position: relative;
    background-color: #eef7ff;
    border-radius: 20px;
    padding: 40px;
}

.research::after{
    position: absolute;
    content: '';
    inset: 0 75% 0 0;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px
    
}

.research{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.research img{
    vertical-align: bottom;
}

.post3-title{
    padding-top: 40px;
}
.post3-title h2{
    font-size: 2.3rem;
    color: #1D3444;
}

.post3-title p{
    font-size: 1.2rem;
    color: #5B5B5B;
}

/* toosgodoh :) */
/* .research img{
    margin-bottom: -6px;
    border-radius: 20px;
} */

.post3-title a{
    color: #F58A07;
}

.post3-title a:after{
    content: '\2192';
    padding-left: 10px;
    zoom: 1;
}

/* ================================================= */
/* MIDDLE-BANNER */
/* ================================================= */

.coffee{
    background-image: url('../images/experience-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-banner{
    min-height: 30vh;   
}
.energy{
    max-width: 500px;
    padding: 120px 0;
    padding-left: 80px;
}
.energy h2{
    font-size: 2.5rem;
    margin-top: 0;
}
/* ??????? */
.sjv-btn{
   background-color: white;
   color: #F58A07;
   border-radius: 40px;
   padding: 15px 20px;
}

.write{
    background-color: #F58A07;
    color: white;
}
/* ================================================= */
/* POST-4 */
/* ================================================= */

.post4{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.dream{
    padding-right: 40px;
}

.post4-title h2{
    font-size: 2.5rem;
    color: #1D3444;
}

.post4-title p{
    font-size: 1.2rem;
    color: #5B5B5B ;
}

.director{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
/* ????????? */
.director .emma{
    position: sticky;
    flex-direction: column;
    padding-right: 300px;
}

.director span{
    color: #F58A07;
}

.director-profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.director .director-profile-img img{
    min-width: 100%;
    max-height: 100%;
}

/* ================================================= */
/* POST-5 */
/* ================================================= */

.post-5{
    background-color: #eef7ff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
}

.post-5-items{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.post-types{
    display: flex;
    height: 100%;
    /* justify-content: space-between; */
    flex-direction: column;
    /* padding: 20px; */
    
}

.lastest{
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.lastest a{
    color: #F58A07;
}

.hello{
    margin-top: auto;
}

.lastest a::after{
    content: '\2192';
    padding-left: 10px;
    zoom: 1;
}

.lastest img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.post-types{
    padding: 10px;
}
/* ================================================= */
/* FOOTER */
/* ================================================= */

footer{
    justify-content: space-between;
    background-color: #063255;
    color: white;
    font-size: 0.8rem;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-deed{
    display: flex;
    justify-content: space-between;
}

.footer-dood{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer a{
    color: white;
}

.egnee1 h2{
    font-size: 2rem;
}

.egnee1 .logo{
    font-size: 1.5rem;
}

.egnee2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.1rem;
}

.egnee2 h4{
    font-size: 1.3rem;
}

.egnee2 ul{
    list-style: none;
    padding: 0;
}

/* ?????? */
/* .neg li{
    padding: 8px;
}

.hoyor li{
    padding: 8px;
} */

.egnee3 ul{
    list-style: none;
    padding: 0;
}

.input{
    border-radius: 40px;
    padding: 20px; 
    width: 80%;
}

.input-title{
    font-size: 1.2rem;
}

.sub{
    background-color: #F58A07;
    color: white;
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

.input-title .input{
    font-size: 17px;
    color: #8f8d8d;
}

.footer-deed h4{
    margin-top: 0%;
}

.socialMedia a{
    padding: 0 1rem;
    font-size: 1.25rem;
}

.socialMedia a:first-child{
    padding-left: 0;
}

.footer-dood .term a{
    display: inline-block;
    margin-right: 50px;
    font-size: 15px;
}

.footer-dood .term{
    align-self: center;
}

footer{
    position: relative;
}

.footer::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 45px;
    height: 120px;
    background-color: #F58A07;
    border-top-right-radius: 20px;
}

.footer::after{
    position: absolute;
    content: '';
    right: 0;
    top: 40px;
    width: 45px;
    height: 250px;
    background-color: #F58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* ================================================= */
/* @@@@@ PAGE-2 @@@@@ */
/* ================================================= */

/* ================================================= */
/* PAGE-2-SECTION-1 */
/* ================================================= */

.client{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aguulga-1{
    display: flex;
}

.aguulga1{
    padding-right: 40px;
    padding-top: 80px;
}

.aguulga1 h2{
    font-size: 2.7rem;
    color: #063255;
}

.aguulga1 p{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga1 .wwu-btn{
    border-radius: 40px;
    background-color: #F58A07;
    color: white;
    padding: 12px 30px;
    font-size: 15px;
}

.wwu-btn-heseg{
    padding-top: 30px;
}

.aguulga1{
    position: sticky;
}

.aguulga1-zurag{
    width: 620px;
    height: 501px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.aguulga1-zurag img{
    width: 100%;
    filter: grayscale(1);
    /* vertical-align: bottom; */
}

.aguulga1-zurag::after{
    position: absolute;
    content: '';
    inset: 0 75% 0 0;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

/* ================================================= */
/* PAGE-2-SECTION-2 */
/* ================================================= */

.strategy{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}


.aguulga-2{
    display: flex;
    position: relative;
}

.aguulga2{
    padding-left: 40px;
    padding-top: 80px;
}

.aguulga2 h2{
    font-size: 2.7rem;
    color: #1D3444;
}

.aguulga2 p{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga2 ul{
    font-size: 15px;
    color: #5B5B5B;
}


.aguulga2-zurag{
    width: 620px;
    height: 501px;
    overflow: hidden;
    border-radius: 5%;
}

.aguulga2-zurag img{
    width: 100%;
    filter: grayscale(1); 
}

.aguulga2::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    left: -50px;
    top: 150px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.aguulga2-zurag{
    position: relative;
}
/* ================================================= */
/* PAGE-2-SECTION-3 */
/* ================================================= */

.digitalazation{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aguulga-3{
    display: flex;
    position: relative;
}

.aguulga3{
    padding-right: 40px;
    padding-top: 80px;
}

.aguulga3 h2{
    font-size: 2.7rem;
    color: #1D3444;
}

.aguulga3 p{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga3-zurag{
    width: 620px;
    height: 501px;
    overflow: hidden;
    border-radius: 5%;
}

.aguulga3-zurag img{
    width: 100%;
    filter: grayscale(1);  
}

.aguulga-3::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    right: -50px;
    top: 200px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.aguulga3-zurag{
    position: relative;
}

/* ================================================= */
/* PAGE-2-SECTION-4 */
/* ================================================= */

.risk{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aguulga-4{
    display: flex;
    position: relative;
}

.aguulga4{
    padding-left: 40px;
    padding-top: 80px;
}

.aguulga4 h2{
    font-size: 2.7rem;
    color: #1D3444;
}

.aguulga4 p{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga4 ul{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga4-zurag{
    width: 620px;
    height: 501px;
    overflow: hidden;
    border-radius: 5%;
}

.aguulga4-zurag img{
    width: 100%;
    filter: grayscale(1);  
}

.aguulga-4::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    left: -50px;
    top: 200px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.aguulga4-zurag{
    position: relative;
}

/* ================================================= */
/* PAGE-2-SECTION-5 */
/* ================================================= */

.artificial{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aguulga-5{
    display: flex;
    position: relative;
}

.aguulga5{
    padding-right: 40px;
    padding-top: 80px;
}

.aguulga5 h2{
    font-size: 2.7rem;
    color: #1D3444;
}

.aguulga5 p{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga5-zurag{
    width: 620px;
    height: 501px;
    overflow: hidden;
    border-radius: 5%;
}

.aguulga5-zurag img{
    width: 100%;
    filter: grayscale(1);  
}

.aguulga-5::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    right: -50px;
    top: 300px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.aguulga5-zurag{
    position: relative;
}

/* ================================================= */
/* PAGE-2-SECTION-6 */
/* ================================================= */

.smart{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aguulga-6{
    display: flex;
    position: relative;
}

.aguulga6{
    padding-left: 40px;
    padding-top: 80px;
}

.aguulga6 h2{
    font-size: 2.7rem;
    color: #1D3444;
}

.aguulga6 p{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga6 ul{
    font-size: 15px;
    color: #5B5B5B;
}

.aguulga6-zurag{
    width: 100%;
}

.aguulga6-zurag{
    width: 620px;
    height: 501px;
    overflow: hidden;
    border-radius: 5%;
}

.aguulga6-zurag img{
    width: 100%;
    filter: grayscale(1);  
}

.aguulga-6::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    left: -50px;
    top: 300px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.aguulga6-zurag{
    position: relative;
}

/* ================================================= */
/* @@@@@ PAGE-3 @@@@@ */
/* ================================================= */

/* ================================================= */
/* PAGE-3-SECTION-1 */
/* ================================================= */

.hired{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sedev-1{
    display: flex;
}

.sedev1{
    padding-right: 40px;
    padding-top: 80px;
}

.sedev1 h2{
    font-size: 2.7rem;
    color: #063255;
}

.sedev1 p{
    font-size: 15px;
    color: #5B5B5B;
}

.sedev1 .vp-btn{
    border-radius: 40px;
    background-color: #F58A07;
    color: white;
    padding: 12px 30px;
    font-size: 15px;
}

.vp-btn-heseg{
    padding-top: 30px;
}

.sedev1{
    position: sticky;
}

.sedev1-zurag{
    width: 400px;
    height: 550px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.sedev1-zurag img{
    width: 100%;
    filter: grayscale(1);
    /* vertical-align: bottom; */
}

.sedev1-zurag::after{
    position: absolute;
    content: '';
    inset: 0 75% 0 0;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

/* ================================================= */
/* PAGE-3-SECTION-2 */
/* ================================================= */

.positions h2{
    font-size: 2.5rem;
    color: #1D3444;    
}

.positions h3{
    font-size: 1.2rem;
    color: #1D3444;    
}

.pos-items p{
    color: #5B5B5B;
}

.positions{
    padding-bottom: 200px;
}

.pos-items{
}

.pos-deed{
    display: flex;
    /* margin: 0; */
    margin-bottom: 40px;
}

.pos-dood{
    display: flex;
    /* align-self: flex-end; */
    /* margin: 0; */
}

.pos-items a{
    color: #F58A07;
}

.pos-deed .pos{
    border-radius: 20px;
    background-color: #eef7ff;
    padding: 20px 100px 20px 50px;
    box-sizing: border-box;
}

.pos-dood .pos{
    border-radius: 20px;
    background-color: #eef7ff;
    padding: 20px 100px 20px 50px;
    box-sizing: border-box;
}

/* ================================================= */
/* @@@@@ PAGE-4 @@@@@ */
/* ================================================= */

/* ================================================= */
/* PAGE-4-SECTION-1 */
/* ================================================= */

.our{
    background-color: #eef7ff;
}

.our-items{
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
}

.jijigZurag{
    display: flex;
    width: 100%;
}

.jijigZurag img{
    border-radius: 50%;
    width: 45px;
    height: 40px;
}

.jijigZurag p{
    padding-left: 20px;
}

.our-garchig{
    padding-right: 60px;
}

.our-garchig h2{
    color: #1D3444;
    font-size: 2.6rem;
}

.our-garchig p{
    color: #5B5B5B;
    font-size: 1.1rem;
}

.our-garchig a{
    color: #F58A07;
    font-size: 1.1rem;
}

.our-garchig a::after{
    content: '\2192';
    padding-left: 10px;
    zoom: 1;
}

.our-zurag{
    width: 100%;
}

.our-zurag img{
    border-radius: 40px;
    width: 550px;
    height: 400px;
}

/* ================================================= */
/* PAGE-4-SECTION-2 */
/* ================================================= */

.all-posts{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
}

.ap-items-deed{
    display: flex;
    justify-content: space-between;
}

.ap-items-dood{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.ap{
    background-color: #eef7ff;
    border-radius: 20px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.bye{
    margin-top: auto;
}

.ap a{
    color: #F58A07;
}

.ap a::after{
    content: '\2192';
    padding-left: 10px;
    zoom: 1;
}

.ap img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* ================================================= */
/* @@@@@ PAGE-5 @@@@@ */
/* ================================================= */

/* ================================================= */
/* PAGE-5-SECTION-1 */
/* ================================================= */

.medee-jijig-zurag{
    display: flex;
    width: 45px;
    height: 40px;
}

.medee-jijig-zurag img{
    width: 100%;
    border-radius: 50%;
}

.medee-zurag{
    border-radius: 40px;
    width: 1280px;
    height: 500px; 
    overflow: hidden;
}

.pretty{
    display: flex;
    align-items: center;
}

.pretty p{
    padding-left: 20px;
}

.medee-zurag img{
    width: 100%;
}

.medee{
    margin: 20px 250px 80px 250px;
}

.medee h2{
    font-size: 2.6rem;
    color: #063255;
}

.medee p{
    font-size: 1.1rem;
    color: #5B5B5B;
}

.medee h3{
    font-size: 2rem;
    color: #1D3444;
}
    /* ================================================= */
    /* @@@@@ PAGE-6 @@@@@ */
    /* ================================================= */
    
    /* ================================================= */
    /* PAGE-6-SECTION-1 */
    /* ================================================= */
    
    .last-page-items{
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    .lastpage-zuun{
        display: flex;
        flex-direction: column;
        margin-right: 60px;
    }
    
    .map-deed{
        display: flex;
        padding: 30px;
    }
    
    .map-heseg{
        margin-top: 40px;
    }
    
    .map{
        filter: grayscale(1);
        border-radius: 20px;
    }
    
    .last-input{
        font-size: 1.1rem;
        color: #8f8d8d;
        background-color: #f5f8f8;
        border-radius: 30px;
        border: none;
        padding: 10px 400px 10px 30px ;
        margin: 10px 0 10px 0;
    }
    
    .last-input-1{
        font-size: 1.1rem;
        color: #8f8d8d;
        background-color: #f5f8f8;
        border-radius: 30px;
        border: none;
        padding: 10px 400px 150px 30px ;
        margin: 10px 0 10px 0;
    }
    
    .s-btn{
        font-size: 1.1rem;
        color: white;
        background-color: #F58A07;
        border-radius: 30px;
        padding: 10px 20px 10px 20px;
        margin-right: 600px;
    }
    
    .question h2{
        font-size: 2.5rem;
        color: #1D3444;
        margin-right: 60px;
    }

/* ================================================= */
/* @@@@@ PAGE-7 @@@@@ */
/* ================================================= */

/* ================================================= */
/* PAGE-7-SECTION-1 */
/* ================================================= */

.testing h2{
    font-size: 2.5rem;
    color: #063255;
}

.salary p{
    color: #5B5B5B;

}

.salary{
    display: flex;
    /* max-width: max-content; */
}

.test-zuun{
    display: flex;
    flex-direction: column;
}

.test-baruun{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.test-details{
    /* display: flex; */
    background-color: #eef7ff;
    border-radius: 20px;
    margin-top: 60px;
}

.test-btn{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.test-btn a{
    color: #1D3444;
    padding: 10px;
}

.test-btn a:hover{
    color: #F58A07;
}

.zadargaa{ 
    display: flex;
    flex-direction: column;
    padding-left: 60px;

}

.test-details{
    display: flex;
    padding: 50px;
}

/* ================================================= */
/* PAGE-7-SECTION-2 */
/* ================================================= */

.apply-items{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.apply-items h2{
    font-size: 2.1rem;
}

.p6-input{
    border: none;
    border-radius: 40px;
    background-color: #f5f8f8;  
    padding: 20px 200px 20px 30px;
    font-size: 1.1rem;
    color: #8f8d8d;
    margin: 10px 10px 10px 0;
}

.p-input{
    border: none;
    border-radius: 40px;
    background-color: #f5f8f8; 
    padding: 20px 1085px 200px 30px;   
    font-size: 1.1rem;
    color: #8f8d8d;
    margin: 10px 10px 10px 0;
}

.s-btn{
    margin-top: 20px;
    margin-bottom: 60px;
}
.s-btn a{
    background-color: #F58A07;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}
